p{
  margin-left: 50px;
  color: red;
}
table{
  border-collapse: collapse;
  width: 50%;
}
table, th, td{
  border: 1px solid darkblue;
}

th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: center;
}
tr:hover{
  background-color: darkkhaki;
}